.AccountCreationQ1 {
    text-align: center;
  }
  
  .AccountCreationQ1-logo {
    height: 40vmin;
  }
  
  .AccountCreationQ1-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .AccountCreationQ1-link {
    color: #09d3ac;
  }
  
  .divider{
    height:10px;
    display:inline-block;
}